# DATABASE
DATABASE_URL='postgres://<<user>>:<<password>>@localhost:5433/<<postgres-db>>?schema=public'

# POSTGRESQL (DOCKER)
POSTGRES_USER=<<user>>
POSTGRES_PASSWORD=<<password>>
POSTGRES_DB=<<postgres-db>>
POSTGRES_PORT=5433

# JWT CONFIGURATION
JWT_SECRET=<<secret>>

# FASTIFY PORT
PORT=3000

# ENV ENVIRONMENT
NODE_ENV=development

# CORS
CORS_ORIGINS=

